/* #map {
    height: 90.5%;
    width: 79.9%;
    margin-top: -1.6% !important;
    margin-left: 20.1%;
    transition: 0.5s;
} */

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    z-index: 1;
}

.navbar-default {
    border-radius: 0px;
    border: none;
    z-index: 2;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("./../image/bg-4.jpg");
}

/* @media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
        color: white;
    }
}

@media (max-width: 768px) {
    .sidenav {
        width: 100px !important;
    }
} */

li a {
    color: gray !important;
}

li a:hover {
    color: white !important;
}

.small {
    font-size: 5px !important;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./../image/bg-4.jpg");
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-top: 4px;
    margin-bottom: 12px;
    width: 85%;
}

.a1 {
    width: 65% !important;
    margin-left: 10%;
}
.small {
    font-size: 10px !important;
}

.sidenav a:hover {
    color: #f1f1f1;
    border-radius: 4px;
    background-color: #0bf;
    border-color: #0bf;
    padding-left: 10px;
    margin-left: 18px;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

@media screen and (max-height: 250px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.icon {
    font-size: 25px !important;
}

.icon-small {
    font-size: 22px !important;
}

/* margin */
.mt-7 {
    margin-top: 7px !important;
}

.btn {
    border: 0px;
}
.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border: 0px;
}

.new-status {
    background: rgb(66, 183, 42);
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-left: 4px;
    width: 10px;
}

.free-status {
    background: #777777;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-left: 4px;
    width: 10px;
}
.waiting-status {
    background: #f0ad4e;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-left: 4px;
    width: 10px;
}

/* loader */
.loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

/*LOADER-4*/
.loader-4 {
    border: 7px double #ff5722;
    -webkit-animation: ball-turn 1s linear infinite;
    animation: ball-turn 1s linear infinite;
}

.loader-4:before,
.loader-4:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #ff5722;
    border-radius: 50%;
    bottom: 0;
    right: 37px;
}

.loader-4:after {
    left: 37px;
    top: 0;
}

@keyframes ball-turn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* modal */
.transparent {
    background-color: rgba(0, 0, 0, 0.0001) !important;
    box-shadow: none;
    border: none;
}

/* table */
tbody {
    display: block;
    height: 280px;
    overflow: auto;
}
thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: auto;
}
thead {
    width: 98%;
}
table {
    width: 400px;
}
