.navbar-header>a>img {
    width: 58px;
    padding-top: 5px;
}

.navbar {
    margin-bottom: 0px;
    border: none;
}

.navbar-default {
    background-color: midnightblue;
    min-height: 70px;
}

.navbar-brand {
    padding: 0px;
    margin-right: 30px;
    margin-left: 10px !important;
}

.navbar-header {
    min-height: 70px;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: white;
    min-height: 70px;
    padding-top: 23px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: cornflowerblue;
}

.carousel-caption h1 {
    font-weight: bold;
    font-size: 40px;
}

.carousel-caption p {
    font-size: 20px;
}

#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#myBtnTop {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 35px;
    /* Place the button at the bottom of the page */
    left: 40px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: blue;
    /* Set a background color */
    color: rgb(255, 255, 255);
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 25px;
    /* Rounded corners */
    font-size: 35px;
    /* Increase font size */
}

#myBtnTop:hover {
    background-color: red;
}

.page-header a {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.page-header a:hover {
    color: red;
    transform: scale(1.1);
}

#switchStatus {
    display: block;
    position: absolute;
    margin-top: 30px;
    right: 45px;
    z-index: 98;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.panel-info {
    width: 100px;
    height: 100px;
}

.foot_logo a img {
    width: 40px;
    margin: 5px;
}

.footer {
    margin-top: 20px;
    text-align: center;
    height: 300px;
    background-color: midnightblue;
    color: white;
    vertical-align : bottom;
    padding-top: 200px;
}
.actionTrip {
    display: none;
    position: fixed;
    bottom: 15%;
    left: 30%;
    margin: 0 auto;
    z-index: 99;
}
.actionTrip button{
    width: 300px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    
}